# Object files
*.o
*.os
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Temporaries
~*
*~
*.swp
core
*.stackdump

# Module::Starter ignores
Makefile
Makefile.old
/Build
/Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
App-GitFind-*
App-GitFind-*.tar.gz
*.bak

# Other
t/TEMPLATE-dot-t
foo
foo.*
TODO
TODO*

# Fatpacker
fatpack*
/fatlib/

# Local dependencies from cpm/carton
/local/

# Parse::Yapp
*.output
support/cmdline.pm
/lib/App/GitFind/cmdline.pm
